.j{
     color: #E6B200;
     color: #B38E00;
     color: #806B00;
     color: #4D4700;
     color: #1A1300;
     color: #FFD84D;
     color: #FFCA1A;
     color: #FFB700;
     color: #FF9C00;
     color: #FFD84D;
     color: #E6E6E6;



     color: #FFCA1A;
     color: #1A1A1A;
     color: #E6E6E6;
     color: #;
}